@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-title: var(--font-poppins);
}

/* Force light mode to avoid gray text issues */
body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {

  /* Renforcer la couleur du texte globalement */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-black;
  }

  p,
  span,
  div,
  li,
  a {
    @apply text-slate-900;
  }

  /* Force Inputs black */
  input,
  textarea,
  select {
    @apply !text-black !bg-white !border-slate-300;
  }

  input::placeholder,
  textarea::placeholder {
    @apply !text-slate-500;
  }
}